.cat-card {
  height: 18em;

  &__img {
    height: 70%;
    object-fit: cover;
    object-position: 50% 10%;
  }

  &__body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
